.site-header{
    background-color: darkgrey;
    color: black;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.web-link{
    color: black;
}
.site-header-content{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    align-items: center;
    width: 200px;
    height: 200px;
    box-shadow: #7a7a84 2px 5px 5px;
}
body{
margin:0 ;

}